/* template-color */

.handle-preloader {
  background: #0b2559;
}

.preloader-close {
  color: #0b2559;
}

.header-top .info li a:hover {
  color: #0b2559;
}

.header-top .top-right .login a:hover {
  color: #0b2559;
}

.header-top .social-links li a:hover {
  color: #0b2559;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a {
  color: #0b2559;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover {
  color: #0b2559;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
  color: #0b2559;
}

.main-menu .navigation > li > ul {
  border-top: 3px solid #0b2559;
}

.main-menu .navigation > li > ul > li > ul {
  border-top: 3px solid #0b2559;
}

.main-header .menu-right-content .search-box-outer:hover {
  color: #0b2559;
}

.main-header .menu-right-content .btn-box a:hover {
  background: #0b2559;
  border-color: #0b2559;
}

.main-header .menu-right-content .btn-box a:before {
  background: #0b2559;
}

.banner-carousel .content-inner span {
  color: #0b2559;
}

.banner-carousel .owl-nav button:hover {
  background: #0b2559;
}

.theme-btn-one {
  background: #0b2559;
}

.sec-title .sub-title {
  color: #0b2559;
}

.header-top .info li i {
  color: #0b2559;
}

.feature-block-one .inner-box .lower-content .icon-box {
  background: #0b2559;
}

.feature-block-one .inner-box .lower-content h3 a:hover {
  color: #0b2559;
}

.image_block_one .image-box .video-btn a {
  background: #0b2559;
}

.sec-title .sub-title {
  color: #0b2559;
}

.content_block_one .content-box .inner-box .single-item .icon-box {
  color: #0b2559;
}

.service-block-one .inner-box .icon-box {
  background: #0b2559;
}

.content_block_two .content-box .inner-box .single-item .icon-box {
  background: #0b2559;
}

.chooseus-section .outer-box {
  background: #0b2559;
}

.project-block-one .inner-box .content-box .view-btn a {
  background: #0b2559;
}

.project-block-one .inner-box .content-box h3 a:hover {
  color: #0b2559;
}

.projects-section .owl-theme .owl-dots .owl-dot span {
  background: #0b2559;
}

.projects-section .owl-theme .owl-dots .owl-dot.active span,
.projects-section .owl-theme .owl-dots .owl-dot:hover span {
  border-color: #0b2559;
}

.testimonial-block-one .inner-box .icon-box {
  background: #0b2559;
}

.nav-style-one .owl-nav button:hover {
  background: #0b2559;
}

.working-block-one .inner-box .count-text h3 {
  background: #0b2559;
}

.working-block-one .inner-box .count-text h3:before {
  border: 2px dashed #0b2559;
}

.funfact-block-one .inner-box .count-outer {
  color: #0b2559;
}

.progress-box .bar-inner {
  background: #0b2559;
}

.default-form .form-group input:focus,
.default-form .form-group textarea:focus {
  border-color: #0b2559 !important;
}

.news-block-one .inner-box .image-box .image {
  background: #0b2559;
}

.news-block-one .inner-box .image-box h2 {
  background: #0b2559;
}

.news-block-one .inner-box .lower-content h3 a:hover {
  color: #0b2559;
}

.news-block-one .inner-box .post-info li a:hover {
  color: #0b2559;
}

.news-block-one .inner-box .lower-content .post-info li i {
  color: #0b2559;
}

.main-footer .links-widget .links-list li a:hover {
  color: #0b2559;
}

.main-footer .contact-widget .info-list li i {
  color: #0b2559;
}

.main-footer .contact-widget .info-list li a:hover {
  color: #0b2559;
}

.footer-bottom a:hover {
  color: #0b2559;
}

.header-style-two.main-header .menu-right-content .btn-box a {
  border: 1px solid #0b2559;
}

.feature-block-two .inner-box .icon-box {
  background: #0b2559;
}

.feature-block-two .inner-box h3 a:hover {
  color: #0b2559;
}

.feature-block-two .inner-box:hover .icon-box {
  color: #0b2559;
}

.image_block_two .image-box .image-content h2 {
  color: #0b2559;
}

.content_block_five .content-box .inner-box .single-item .icon-box {
  color: #0b2559;
}

.service-block-two .inner-box .lower-content .icon-box {
  background: #0b2559;
}

.service-block-two .inner-box .lower-content h3 a:hover {
  color: #0b2559;
}

.cta-section .inner-box h2 span {
  color: #0b2559;
}

.cta-section .inner-box h3 a:hover {
  color: #0b2559;
}

.owl-dots-one .owl-dots .owl-dot span {
  background: #0b2559 !important;
}

.owl-dots-one .owl-dots .owl-dot.active span,
.owl-dots-one .owl-dots .owl-dot:hover span {
  border-color: #0b2559;
}

.accordion-box .accordion .acc-btn.active .icon-box:before {
  color: #0b2559;
}

.project-block-two .inner-box h3 a:hover {
  color: #0b2559;
}

.news-block-two .inner-box .lower-content .post-date {
  color: #0b2559;
}

.news-block-two .inner-box .lower-content h3 a:hover {
  color: #0b2559;
}

.news-block-two .inner-box .lower-content .post-info li i {
  color: #0b2559;
}

.news-block-two .inner-box .lower-content .post-info li a:hover {
  color: #0b2559;
}

.subscribe-section .form-inner .form-group input:focus {
  border-color: #0b2559 !important;
}

.main-footer.alternat-2 .links-widget .links-list li a:hover {
  color: #0b2559;
}

.main-footer.alternat-2 .contact-widget .info-list li a:hover {
  color: #0b2559;
}

.main-footer.alternat-2 .footer-bottom p a:hover {
  color: #0b2559;
}

.header-style-three .main-menu .navigation > li.current > a,
.header-style-three .main-menu .navigation > li:hover > a {
  color: #0b2559;
}

.header-style-three .menu-right-content .search-box-outer:hover {
  color: #0b2559;
}

.header-style-three .menu-right-content .cart-box a:hover {
  color: #0b2559;
}

.header-style-three .menu-right-content .theme-btn-one {
  border-color: #0b2559 !important;
}

.banner-style-two.alternat-2 .banner-carousel .content-box span {
  color: #0b2559;
}

.banner-style-two.alternat-2 .owl-theme .owl-dots .owl-dot.active span,
.banner-style-two.alternat-2 .owl-theme .owl-dots .owl-dot span:hover {
  background: #0b2559;
}

.banner-style-two.alternat-2 .owl-theme .owl-dots .owl-dot.active span:before,
.banner-style-two.alternat-2 .owl-theme .owl-dots .owl-dot span:hover:before {
  border-color: #0b2559;
}

.feature-block-three .inner-box .icon-box {
  background: #0b2559;
}

.feature-block-three .inner-box h3 a:hover {
  color: #0b2559;
}

.about-style-three .content_block_one .content-box .text p:first-child:before {
  background: #0b2559;
}

.image_block_three .image-box .image-text {
  background: #0b2559;
}

.service-block-three .inner-box .icon-box {
  color: #0b2559;
}

.service-block-three .inner-box h3 a:hover {
  color: #0b2559;
}

.service-style-three .more-btn .theme-btn-one:hover {
  color: #0b2559 !important;
}

.video-section .inner-container .video-btn a:hover {
  color: #0b2559;
}

.team-block-one .inner-box .image-box .social-links li a:hover {
  background: #0b2559;
}

.team-block-one .inner-box .lower-content h3 a:hover {
  color: #0b2559;
}

.projects-section.alternat-2 .owl-theme .owl-dots .owl-dot.active span,
.projects-section.alternat-2 .owl-theme .owl-dots .owl-dot:hover span {
  border-color: #0b2559;
}

.page-title .bread-crumb li a:hover {
  color: #0b2559;
}

.service-sidebar .category-widget .category-list li a:hover,
.service-sidebar .category-widget .category-list li a.current {
  border-color: #0b2559;
}

.service-sidebar .category-widget .category-list li a:before {
  background: #0b2559;
}

.service-sidebar .contact-widget .widget-content h3 span {
  color: #0b2559;
}

.service-sidebar .contact-widget .widget-content h3 a:hover {
  color: #0b2559;
}

.service-sidebar .contact-widget .inner-box p a:hover {
  color: #0b2559;
}

.list-style-one li:before {
  color: #0b2559;
}

.service-details-content .content-three .single-item .icon-box {
  background: #0b2559;
}

.service-details-content .content-four .download-list li .icon-box {
  color: #0b2559;
}

.service-details-content .content-four .download-list li button {
  color: #0b2559;
}

.service-details-content .content-four .download-list li button:hover {
  background: #0b2559;
}

.team-details-content .content-box .designation {
  color: #0b2559;
}

.team-details-content .content-box .info-list li a:hover {
  color: #0b2559;
}

.team-details-content .content-box .social-links li a:hover {
  background: #0b2559;
  border-color: #0b2559;
}

.team-details .lower-content .inner-box .single-item:before {
  border: 1.5px solid #0b2559;
}

.team-details .lower-content .inner-box .single-item:after {
  background: #0b2559;
}

.sortable-masonry .filter-btns li.active {
  color: #0b2559;
}

.project-block-three .inner-box .image-box .view-btn a {
  background: #0b2559;
}

.project-block-three .inner-box .image-box .view-btn a:hover {
  color: #0b2559;
}

.project-block-three .inner-box .lower-content span {
  color: #0b2559;
}

.project-block-three .inner-box .lower-content h3 a:hover {
  color: #0b2559;
}

.portfolio-sidebar .social-links li a:hover {
  background: #0b2559;
  border-color: #0b2559;
}

.portfolio-details .nav-btn-box .single-btn a {
  color: #0b2559;
}

.portfolio-details .nav-btn-box .single-btn a:hover {
  background: #0b2559;
}

.pricing-section .tab-btn-box .tab-btns li:before {
  background: #0b2559;
}

.pricing-block-one .pricing-table .title {
  color: #0b2559;
}

.career-sidebar .form-inner .form-group input:focus,
.career-sidebar .form-inner .form-group textarea:focus {
  border-color: #0b2559 !important;
}

.career-section .accordion-box .accordion .acc-btn.active .icon-box {
  background: #0b2559;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus {
  border-color: #0b2559 !important;
}

.shop-sidebar .search-widget .search-form .form-group input:focus + button,
.shop-sidebar .search-widget .search-form .form-group button:hover {
  color: #0b2559;
}

.shop-sidebar .category-widget .category-list li a:hover {
  color: #0b2559;
}

.shop-sidebar .category-widget .category-list li a:before {
  color: #0b2559;
}

.range-slider .ui-slider .ui-slider-range {
  background: #0b2559;
}

.range-slider .ui-state-default,
.range-slider .ui-widget-content .ui-state-default {
  border: 5px solid #0b2559;
}

.shop-block-one .inner-box .image-box .option-list li a:hover {
  background: #0b2559;
}

.shop-block-one .inner-box .image-box .cart-btn button {
  background: #0b2559;
}

.shop-block-one .inner-box .lower-content h4 a:hover {
  color: #0b2559;
}

.shop-block-one .inner-box .lower-content .price {
  color: #0b2559;
}

.pagination li a:hover,
.pagination li a.current {
  background: #0b2559;
  border-color: #0b2559;
}

.default-form input:focus,
.default-form textarea:focus {
  border-color: #0b2559 !important;
}

.shop-details-content .content-box .price {
  color: #0b2559;
}

.shop-details-content .content-box .customer-rating .review a:hover {
  color: #0b2559;
}

.shop-details-content .addto-cart-box .like-box a:hover {
  background: #0b2559;
  border-color: #0b2559;
}

.shop-details-content .other-option li a:hover {
  color: #0b2559;
}

.bootstrap-touchspin .glyphicon-chevron-up:hover:before,
.bootstrap-touchspin .glyphicon-chevron-down:hover:before {
  color: #0b2559;
}

.cart-section .cart-table tbody tr .prod-column .column-box .remove-btn:hover {
  background: #0b2559;
  border-color: #0b2559;
}

.cart-section .othre-content .theme-btn-two:hover {
  background: #0b2559;
  border-color: #0b2559;
}

.cart-section .cart-total .total-cart-box .list li:last-child span {
  color: #0b2559;
}

.checkout-section .upper-box .single-box a {
  color: #0b2559;
}

.checkout-section .additional-info .note-book textarea:focus {
  border-color: #0b2559;
}

.checkout-section .order-info .order-list li.order-total span {
  color: #0b2559;
}

.checkout-section
  .payment-info
  .payment-inner
  .custom-controls-stacked
  .description
  a:hover {
  color: #0b2559;
}

.blog-sidebar .search-widget .form-group input:focus {
  border-color: #0b2559 !important;
}

.blog-sidebar .search-widget .form-group input:focus + button,
.blog-sidebar .search-widget .form-group button:hover {
  color: #0b2559;
}

.blog-sidebar .category-widget .category-list li a:hover {
  color: #0b2559;
}

.blog-sidebar .category-widget .category-list li a:before {
  color: #0b2559;
}

.blog-sidebar .post-widget .post h5 a:hover {
  color: #0b2559;
}

.blog-sidebar .tags-widget .tags-list li a:hover {
  background: #0b2559;
  border-color: #0b2559;
}

.blog-details-content .news-block-one .inner-box blockquote .icon-box {
  color: #0b2559;
}

.blog-details-content .news-block-one .inner-box blockquote h4:before {
  background: #0b2559;
}

.blog-details-content .news-block-one .inner-box .tags-list li a:hover {
  background: #0b2559;
  border-color: #0b2559;
}

.feature-block-three .inner-box p a:hover {
  color: #0b2559;
}

.menu-area .mobile-nav-toggler {
  background: #0b2559;
}
